.l--container {
  max-width: var(--container-width);
}

.l--bg-image {
  background-image: var(--bg-image);
}

.l--image {
  &-square {
    padding-bottom: 100%;
  }

  &-hd {
    padding-bottom: 56.25%;
  }
}